@use '@/assets/scss/abstracts' as *;

.app-main {
  will-change: transform;
  width: 100%;
  // height: calc(100dvh - 120px);
  overflow-y: auto;
  z-index: 10;

  @include media('m') {
    display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 1fr;
  }
}
