@use '@/assets/scss/abstracts' as *;

.container {
  display: grid;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 1440px;
   

  @include media('m') {
    display: grid;
    grid-template-columns: 250px 1fr;
    padding: 16px;
    gap: 16px;
  }
}
