@use '@/assets/scss/abstracts' as *;

.app-footer {
  width: 100%;
  background: hsla(255, 19%, 92%, 0.06);
  backdrop-filter: blur(15px);
  // box-shadow: 0px 5px 20px -2px hsla(0, 0%, 0%, 0.929), inset 3px -4px 16px -7px hsla(252, 6%, 83%, 0.326);
  z-index: 10;

  @include media('sm') {
      margin-inline: auto;
      margin-bottom: var(--space-base);
      max-width: 444px;
}
  
  @include media('m') {
      display: none;
}
}
