@use '@/assets/scss/abstracts' as *;

.app-header {
  background: hsla(255, 19%, 92%, 0.06);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  box-shadow: 0px 5px 20px -2px hsla(0, 0%, 0%, 0.929), inset 3px -4px 16px -7px hsla(252, 6%, 83%, 0.326);
  z-index: 10;
  // padding-inline: 0.8rem;
  margin-inline: auto;
  width: 100%;

  @include media('m') {
    background-color: rgba(35, 35, 33, 0.145);
    &__container {

  width: 100%;
  
  ;
    
  }
}


}


