.app-nav__link {
  display: flex;
  flex-direction: column;
  padding: var(--space-xs);
  text-align: center;
  font-size: var(--fs-2);
  font-weight: var(--fw-light);
}

.app-nav__link span {
  font-size: 14px;
}
