@use '@/assets/scss/abstracts' as *;

.app-nav {
  height: 100%;

  @include media('m') {
    display: flex;
  flex: 1;
  padding: 16px;
  }
  
  &__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  @include media('m') {
    &__list {
      // height: 100%;
      grid-template-columns: auto;
      grid-template-rows: repeat(auto-fit, minmax(120px, 1fr));
      gap: 1rem;
  //     background-color: var(--bg-gradient-overlay), 
  // hsla(0, 16%, 84%, 90);   
}
&__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
  }
}
