.app-nav__link {
  display: flex;
  flex-direction: column;
  padding: var(--space-xs);
  text-align: center;
}

.link-label {
  font-size: var(--fs-label);
  font-weight: var(--fw-light);
  line-height: var(--lh-label);
  letter-spacing: var(--ls-tight);

  &:hover {
    color: var(--color-text-hover);
  }
}
