@use '@/assets/scss/abstracts' as *;

.app-nav__link {
  display: flex;
  flex-direction: column;
  padding: var(--space-xs);
  text-align: center;

  @include media(m){
    background: var(--color-bg-overlay);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    height: clamp(250px, 20vw, 350px);
  overflow: hidden;
  width: 100%;
  border-radius: 12px;
  }

  &--active {
    color: var(--color-active);
    background: var(--bg-link-active);
  }

  &--hover {
    color: var(--color-hover);
  }


}

.link-label {
  font-size: var(--fs-label);
  font-weight: var(--fw-light);
  line-height: var(--lh-label);
  letter-spacing: var(--ls-tight);

  &:hover {
    color: var(--color-text-hover);
  }
}
