 .link-wrapper {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .nav-icon {
        width: 1.6rem;
        height: 1.6rem;

        &:hover {
            width: 1.5rem;
        height: 1.5rem;
        transform: scale(1.3);
        transition: all ease-in 0.3ms;
    
        }
    }