@use '@/assets/scss/abstracts' as *;

.app-nav {
  height: 100%;
  

  &__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  @include media('m') {
    &__list {
      grid-template-columns: 250px;
      grid-template-rows: repeat(4 1fr);
    }
  }
}
