@use '../abstracts' as *;

body {
  background-color: var(--color-bg-surface);
  color: var(--color-primary);
  font-family: var(--font-sans);
  line-height: var(--lh-body);
  font-size: var(--fs-base);

}

h2 {
  font-family: var(--font-heading);
  font-size: var(--fs-h2);
}