@use "../abstracts" as *;



body {
    background-color: var(--color-bg-primary);
    color: var(--color-primary);
}



.container {
    width: 100%;
    // padding-inline: var(--container-padding-mobile);
    
    // @include media(s);

}

