:root {
  --color-primary: rgb(239, 231, 210);
  --color-bg-primary: rgb(19, 18, 18);
  --color-bg-surface: rgba(51, 53, 57, 0.100);
  --color-hover: oklch(79.898% 0.10643 52.479 / 0.97);
  --color-active: oklab(0.84 0.03 0.1 / 0.97);
  --bg-link-active:oklab(0.14 0 0 / 0.81);

  --bg-hover: rgb(19, 18, 18);
  --bg-focus: rgb(25, 27, 27);

  --color-border-primary: rgb(51, 51, 48);
  --color-border-hover: rgb(78, 76, 71);

  --color-gradient-start: rgba(0,0,0,0.6);
  --color-gradient-end: rgba(0,0,0,0.2);

  

  --color-gradient-primary: linear-gradient(
    135deg,
    #ff3c3c,
    #ff8c42
  );

  --bg-gradient-overlay: linear-gradient(
    151.4deg,
    rgba(13,13,15,0.5) / 19.06%,
    rgba(2, 2, 24, 0.2) / 94.42%;
    )

  --color-gradient-light: linear-gradient(
    to bottom,
    #303333de,
    #bbbdc91b
  );

  --overlay-h: 70;
  --overlay-s: -12%;
  --overlay-l: 12%;

  --color-bg-overlay: linear-gradient(
    to top, 
    hsla(var(--overlay-h), var(--overlay-s), var(--overlay-l), 0.8),
    hsla(var(--overlay-h), var(--overlay-s), var(--overlay-l), 0.1) 
  );
}